# ---------------------------------
# Authentication configuration file
# ---------------------------------
#
# The commented-out settings shown in this file represent the default values.
#
# This file is read when authentication-service start
#
# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Address and port on which Authentication Service will accept HTTP requests.
LISTEN={{ authentication_service_listen | default("0.0.0.0:8000") }}

# Log folder path for access and application logging. Default "stdout".
LOG_FOLDER=/var/log/authentication-service

# If defined the Authentication Service will accept only HTTPS requests
SSL_CERT={{ authentication_service_ssl_cert | default("") }}
SSL_KEY={{ authentication_service_ssl_key | default("") }}

# -----------------------------------------------------------------------------
# Security file
# -----------------------------------------------------------------------------

# Contains information on TTL to store keys and how to construct them.

# Storage file
SECURITY_FILE={{ authentication_service_security_file | default("/etc/authentication-service/core.securityconfig.yml") }}

# -----------------------------------------------------------------------------
# REDIS file
# -----------------------------------------------------------------------------

# Storage used by Authentication Service to store tokens and keys.

# Storage file
REDIS_FILE={{ authentication_service_redis_file | default("/etc/authentication-service/core.redisconfig.yml") }}

# -----------------------------------------------------------------------------
# LDAP file
# -----------------------------------------------------------------------------

# File that contains Ldap information to connect to Corporate LDAP

# Ldap file
LDAP_FILE="/etc/authentication-service/core.ldapconfig.yml"

# -----------------------------------------------------------------------------
# Revision file
# -----------------------------------------------------------------------------

# Expose the revision file generated by build into url

# Revision file
REVISION_FILE={{ authentication_service_revision_file | default("/etc/authentication-service/rev.txt") }}

# -----------------------------------------------------------------------------
# Swagger file
# -----------------------------------------------------------------------------

# Expose the swagger file

# Swagger file
SWAGGER_FILE={{ authentication_service_swagger_file | default("/etc/authentication-service/swagger.yml") }}

# -----------------------------------------------------------------------------
# Metrics and Monitoring
# -----------------------------------------------------------------------------

# If you want enable the NewRelic for monitoring or metrics, please define the
# required configurations bellow:

# Set the application name, this configuration is required for NewRelic.
NEWRELIC_APPNAME={{ authentication_service_newrelic_appname | default("") }}

# Set the license key, this config is required for NewRelic.
NEWRELIC_LICENSE_KEY={{ authentication_service_newrelic_license_key | default("") }}